
<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
<%# COMMENTED OUT DUMMY WIDGETS
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="synergy" data-view="Meter" data-title="Synergy" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="buzzwords" data-view="List" data-unordered="true" data-title="Buzzwords" data-moreinfo="# of times said around the office"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="convergence" data-view="Graph" data-title="Convergence" style="background-color:#ff9618"></div>
    </li>
%>

<%# =========== HIPCHAT COMMENTS =========== %>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
        <div data-id="hipchat-room-history" 
            data-view="Comments" 
            data-title="HipChat Room History" 
            data-moreinfo="" 
        ></div>
    </li>
<%# ======================================== %>

<%# ========== JIRA ISSUES COUNT =========== %>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="jira-issue-count" data-view="Number" data-title="Jira Issue Count" data-moreinfo="Open/In Progress" data-prefix="#"></div>
    </li>
<%# ======================================== %>

<%# ================= HELLO ================ %>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Hello" data-text="This is your shiny new dashboard." data-moreinfo="Protip: You can drag the widgets around!"></div>
    </li>
<%# ======================================== %>

  </ul>
  <center>
    <div style="font-size: 12px">
        Try this: 
        <code>
            curl -d '{ "auth_token": "YOUR_AUTH_TOKEN", "text": "Hey, Look what I can do!" }' 
            \http://<%=request.host%>:<%=request.port%>/widgets/welcome
        </code>
    </div>
  </center>
</div>
